@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply px-6 py-2 bg-primary text-secondary font-bold rounded-full hover:bg-yellow-400 transition-colors duration-300;
  }
}
